.highlighter-rouge {
    padding: .1em .3em .2em;
    border-radius: 3px;
    color: #fff;
}

.code, g.highlight, li code, p code, pre code {
    font-size: 12px;
    padding-top: 4px;
}

.image-border {
    border: 1px solid rgba(0,0,0,0.4);
}